altgraph==0.17.5
annotated-types==0.7.0
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.1
pefile==2024.8.26
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pywin32-ctypes==0.2.3
PyYAML==6.0.3
setuptools==82.0.1
typing-inspection==0.4.2
typing_extensions==4.15.0
xlsxwriter==3.2.9
